<li class="nav-item dropdown border-lg-right border-white">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administration
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('category_index') }}">
            Catégories
        </a>
        <a class="dropdown-item" href="{{ path('program_index') }}">
            Séries
        </a>
        <a class="dropdown-item" href="{{ path('season_index') }}">
            Saisons
        </a>
        <a class="dropdown-item" href="{{ path('episode_index') }}">
            Épisodes
        </a>
    </div>
</li>