{% extends 'base.html.twig' %}

{% block title %}Wild Séries | {{ slug }}{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <div class="row justify-content-center no-gutters">
            <h1>{{ slug }}</h1>
        </div>
    </main>
{% endblock %}